<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Esqueci minha senha</h5>
    <button type="button" class="btn-close" (click)="closeModal()"></button>
  </div>
  <form [formGroup]="form">
    <div class="modal-body">
      <div class="row g-3">

        <div class="col-12">
          <label class="form-label">E-mail</label>
          <input
            appFormControl
            type="text"
            class="form-control"
            formControlName="Email"
            placeholder="exemplo@exemplo.com"
          />
          <app-form-invalid-message
            [form]="form"
            prop="Email"
          ></app-form-invalid-message>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button
        class="btn btn-primary"
        (click)="send()"
        [disabled]="form.invalid"
      >
        Enviar
      </button>
    </div>
  </form>
</div>
