<div barcodeListener (scanned)="OnScan($event)" class="container mt-4">
  <h3>Registrar Venda</h3>

  <form [formGroup]="form" (submit)="save()">
    <div class="card mb-4">
      <div class="card-body">
        <div class="row">
          <div class="col-9 d-flex">
            <div class="col-md-3 form-group me-3">
              <label for="barCode" class="form-label">Atendente</label>
              <app-users-select formControlName="AttendantId" />
              <app-form-invalid-message
                [form]="form"
                prop="AttendantId"
              ></app-form-invalid-message>
            </div>

            <div class="col-md-5 form-group">
              <label class="form-label">Data</label>
              <app-date-picker-input formControlName="OrderDate" />
              <app-form-invalid-message
                [form]="form"
                prop="OrderDate"
              ></app-form-invalid-message>
            </div>
          </div>

          <div class="col-md-3 text-center">
            <button
              class="btn btn-outline-primary w-100"
              type="button"
              style="margin-top: 30px"
              (click)="openProductRegisterModal()"
            >
              <i class="bi bi-plus-lg"></i>
              Registrar Novo Produto
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-header d-flex justify-content-between">
        <h4 class="card-title m-0">Produtos</h4>
        <div class="d-flex text-center">
          <h5 *ngIf="totals.ExpectedTotalProducts != totals.TotalProducts" class="m-auto me-1 text-decoration-line-through">{{totals.ExpectedTotalProducts ?? 0 | currency: 'BRL'}}</h5>
          <h4 class="m-auto">{{totals.TotalProducts ?? 0 | currency: 'BRL'}}</h4>
        </div>
      </div>
      <div class="card-body">
        <app-order-adding-product
          (add)="addProduct($event)"
        ></app-order-adding-product>
        <div
          formArrayName="OrderProducts"
          [ngClass]="{ 'mt-5': products.length > 0 }"
        >
          <div
            class="row mb-3"
            *ngFor="let product of products.controls; let i = index"
            [formGroupName]="i"
          >
            <div class="col-md-6 form-group">
              <label class="form-label">Produto</label>
              <input type="text" disabled class="form-control" [value]="product.value.Product.Description">
            </div>

            <div class="col-md-2 form-group">
              <label class="form-label">Quantidade</label>
              <app-integer-input formControlName="Quantity" [minValue]="1"  [maxValue]="product.value.Product.StockQuantity"/>
              <app-form-invalid-message
                [form]="product"
                prop="Quantity"
              ></app-form-invalid-message>
            </div>

            <div class="col-md-2 form-group">
              <label class="form-label">Valor unitário</label>
              <div class="input-group">
                <span class="input-group-text">R$</span>
                <input
                  appFormControl
                  type="text"
                  class="form-control"
                  formControlName="UnitPriceCharged"
                  placeholder="0,00"
                  mask="separator.2"
                  thousandSeparator="."
                  decimalMarker=","
                />
              </div>
              <app-form-invalid-message
                [form]="product"
                prop="UnitPriceCharged"
              ></app-form-invalid-message>
            </div>

            <div class="col-md-2 text-center">
              <button
                class="btn btn-outline-danger w-100"
                type="button"
                (click)="removeProduct(i)"
                style="margin-top: 30px"
              >
                <i class="bi bi-trash"></i>
                Remover
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-header d-flex justify-content-between">
        <h4 class="card-title m-0">Taxas Adicionais</h4>
        <h4 class="m-0">{{totals.TotalFees ?? 0 | currency: 'BRL'}}</h4>
      </div>
      <div class="card-body">
        <app-order-adding-fee
          (add)="addAdditionalFee($event)"
        ></app-order-adding-fee>
        <div
          formArrayName="OrderAdditionalFees"
          [ngClass]="{ 'mt-5': additionalFees.length > 0 }"
        >
          <div
            class="row mb-3"
            *ngFor="let additionalFee of additionalFees.controls; let i = index"
            [formGroupName]="i"
          >
            <div class="col-md-8 form-group">
              <label class="form-label">Descrição</label>
              <input
                appFormControl
                type="text"
                id="barCode"
                class="form-control"
                formControlName="Description"
              />
            </div>

            <div class="col-md-2 form-group">
              <label class="form-label">Valor</label>
              <div class="input-group">
                <span class="input-group-text">R$</span>
                <input
                  appFormControl
                  type="text"
                  id="barCode"
                  class="form-control"
                  formControlName="Value"
                  placeholder="0,00"
                  mask="separator.2"
                  thousandSeparator="."
                  decimalMarker=","
                  autocomplete="off"
                />
              </div>
            </div>

            <div class="col-md-2 text-center">
              <button
                class="btn btn-outline-danger w-100"
                type="button"
                (click)="removeAdditionalFee(i)"
                style="margin-top: 30px"
              >
                <i class="bi bi-trash"></i>
                Remover
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body d-flex justify-content-between align-items-middle">
        <button class="btn btn-secondary" type="button" (click)="cancel()">
          <i class="bi bi-arrow-90deg-left"></i>
          Cancelar
        </button>
        <div class="d-flex text-center">
          <h5 *ngIf="totals.ExpectedTotal != totals.Total" class="m-auto me-1 text-decoration-line-through">{{totals.ExpectedTotal ?? 0 | currency: 'BRL'}}</h5>
          <h4 class="m-auto">{{totals.Total ?? 0 | currency: 'BRL'}}</h4>
        </div>
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="form.invalid || products.length < 1"
        >
          Salvar
          <i class="ms-1 bi bi-floppy-fill"></i>
        </button>
      </div>
    </div>
  </form>
</div>
