{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "ConnectionStrings": {
    "DefaultConnection": "Host=localhost;Port=5432;Database=reidochopp;Username=postgres;Password=REPLACE_ME;"
  },
  "Jwt": {
    "SecretKey": "REPLACE_ME_WITH_YOUR_OWN_LOCAL_SECRET",
    "ExpireMinutes": "720"
  },
  "ClientUrl": "http://localhost:4200/",
  "Email": {
    "Sender": {
      "Name": "Rei do chopp",
      "Adress": "reidochoppdistribuidora@gmail.com"
    },
    "ApiKeys": {
      "Public": "REPLACE_ME",
      "Private": "REPLACE_ME"
    }
  }
}
