<div class="container mt-4">
  <h3>Produtos e Estoque</h3>

  <div class="card mb-2">
    <div class="card-body">
      <form [formGroup]="filterForm" class="row g-3 align-items-end">
        <div class="col-md-2">
          <label for="barCode" class="form-label">Data Inicial</label>
          <app-date-picker-input formControlName="InitialDate" [time]="false" />
        </div>
        <div class="col-md-2">
          <label for="status" class="form-label">Data Final</label>
          <app-date-picker-input formControlName="FinalDate" [time]="false"/>
        </div>
        <div class="col-md-4">
          <label for="status" class="form-label">Produto</label>
          <ng-select
            #productSelect
            notFoundText="Nenhum item encontrado"
            [items]="products"
            [multiple]="true"
            bindLabel="Description"
            bindValue="Id"
            formControlName="ProductsIds"
            [searchFn]="selectFilter"
            (search)="searchProduct$.next($event.term)"
            placeholder="Selecione os produtos"
            autofocus="off"
            [loading]="loadingProducts"
          >
          </ng-select>
        </div>
        <div class="col-md-2">
          <button class="btn btn-secondary w-100" type="button" (click)="resetFilter()">
            <i class="bi bi-eraser"></i>
            Limpar
          </button>
        </div>
      </form>
    </div>
  </div>

  <app-operation-history-summary [operationHistoryResponse]="operationHistoryResponse"></app-operation-history-summary>

  <div class="card mb-2">
    <div class="card-body">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="orders" data-bs-toggle="tab" data-bs-target="#orders-pane" type="button" role="tab" aria-controls="orders-pane" aria-selected="true">Vendas</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="restockings-tab" data-bs-toggle="tab" data-bs-target="#restockings-tab-pane" type="button" role="tab" aria-controls="restockings-tab-pane" aria-selected="false">Reabastecimentos</button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="orders-pane" role="tabpanel" aria-labelledby="orders" tabindex="0">
          <app-orders-grid [form]="filterForm" (refresh)="resetFilter()"></app-orders-grid>
        </div>
        <div class="tab-pane fade" id="restockings-tab-pane" role="tabpanel" aria-labelledby="restockings-tab" tabindex="0">
          <app-restockings-grid [form]="filterForm" (refresh)="resetFilter()"></app-restockings-grid>
        </div>
      </div>
    </div>
    </div>
  </div>

