<div class="d-none d-md-flex flex-row flex-wrap justify-content-between align-items-center">
  <app-hub-page-card title="Registrar Venda" description="Registro de vendas" link="./vendas" icon="bi bi-basket2" style="width: 320px !important;"></app-hub-page-card>
  <app-hub-page-card title="Produtos e Estoque" description="Gerênciamento de estoque e produtos" link="./produtos" icon="bi bi-box-seam" style="width: 320px !important;"></app-hub-page-card>
  <app-hub-page-card title="Financeiro e Histórico" description="Finanças e histórico de operações" link="./finaceiro/historico-operacoes" icon="bi bi-bar-chart-line" style="width: 320px !important;"></app-hub-page-card>
  <app-hub-page-card title="Usuários" description="Gerenciamento de usuários do sistema" link="./usuarios" icon="bi bi-people" style="width: 320px !important;"></app-hub-page-card>
  <app-hub-page-card title="Configurações" description="Configurações gerais do sistema" link="./configuracoes" icon="bi bi-gear" style="width: 320px !important;"></app-hub-page-card>
</div>

<div class="d-flex d-md-none flex-row flex-wrap justify-content-center align-items-center">
  <app-hub-page-card title="Registrar Venda" description="Registro de vendas" link="./vendas" icon="bi bi-basket2" style="width: 320px !important;"></app-hub-page-card>
  <app-hub-page-card title="Produtos e Estoque" description="Gerênciamento de estoque e produtos" link="./produtos" icon="bi bi-box-seam" style="width: 320px !important;"></app-hub-page-card>
  <app-hub-page-card title="Financeiro e Histórico" description="Finanças e histórico de operações" link="./finaceiro/historico-operacoes" icon="bi bi-bar-chart-line" style="width: 320px !important;"></app-hub-page-card>
  <app-hub-page-card title="Usuários" description="Gerenciamento de usuários do sistema" link="./usuarios" icon="bi bi-people" style="width: 320px !important;"></app-hub-page-card>
  <app-hub-page-card title="Configurações" description="Configurações gerais do sistema" link="./configuracoes" icon="bi bi-gear" style="width: 320px !important;"></app-hub-page-card>
</div>
